* {
  /* General */
  text-font:                            "Source Code Pro 12";
  icon-font:                            "feather 30";

  option-6-listview-spacing:            30px;

  // top right bottom left
  menu-window-padding:                  6px 6px 6px 30px;
  menu-prompt-padding:                  10px 20px 15px 20px;
  menu-prompt-margin:                   0px;
  menu-element-border:                  0px 10px 0px 10px;
  menu-element-padding:                 27px 16px 21px 0px;
}
