/* -*-css -*- */
@theme "nord"

window {
    location: southeast;
    anchor: center;
    width: 40%;
    y-offset: -30;
    padding-right: 25px;
}

listview {
    columns: 2;
    lines: 6;
}

inputbar {
    children: [textbox-prompt];
}

textbox-prompt {
    str: "Password Manager";
    text-color: inherit;
}
