/* -*-css -*- */
@theme "solarized_alternate"

window {
  location: northwest;
  anchor: northwest;
  y-offset: 20;
  // x-offset: 10;
}

listview {
  fixed-height: false;
  dynamic: true;
}

textbox {
  blink: true;
  fixed-columns: false;
}
