[Desktop Entry]
Name=Org-Protocol
Exec=emacsclient -a emacs %u
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=x-scheme-handler/org-protocol
